<%= form_with(model: shifted, local: true) do |form| %>
  <% if shifted.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shifted.errors.count, "error") %> prohibited this shifted from being saved:</h2>

      <ul>
      <% shifted.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
    <div class="form-group">
        <div class="field">
          <%= form.label :firstname  %>
          <%= form.text_field :firstname, id: :shifted_firstname,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :lastname %>
          <%= form.text_field :lastname, id: :shifted_lastname,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :dob %>
          <%= form.date_select :dob,start_year: 1900, end_year: Time.now.year , id: :shifted_dob,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email, id: :shifted_email,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :phone %>
          <%= form.text_field :phone, id: :shifted_phone,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :address %>
          <%= form.text_field :address, id: :shifted_address,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :firm %>
          <%= form.text_field :firm, id: :shifted_firm,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :cost %>
          <%= form.text_field :cost,type: :number, id: :shifted_cost,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_area :description, id: :shifted_description,class:'form-control', required: true %>
        </div>

        <div class="field">
          <%= form.label :bloodTest %>
          <%= check_box_tag 'shifted[windows]', 'windows'%>Royal Hospital
        </div>
        <div class="field">
              <%= form.label :xray %>
             <%= check_box_tag 'shifted[windows]', 'windows'%>Mater Hospital
        </div>
         <div class="field">
            <%= form.label :ctscan %>
            <%= check_box_tag 'shifted[ctscan]', 'ctscan'%> Mater Hospital
        </div>
        <div class="field">
          <%= form.label :endoscopy %>
          <%= check_box_tag 'shift[endoscopy]', 'endoscopy' %>Mater Hospital
        </div>
      </div>
      <div class="btn btn-default">
        <%= form.submit 'Transfer patient' %>
      </div>
    </div>
<% end %>
