<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Shifted</h1>

<table  class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Dob</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Firm</th>
      <th scope="col">Cost</th>
      <th scope="col">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shifteds.each do |shifted| %>
      <tr>
        <td><%= shifted.firstname %></td>
        <td><%= shifted.lastname %></td>
        <td><%= shifted.dob %></td>
        <td><%= shifted.email %></td>
        <td><%= shifted.phone %></td>
        <td><%= shifted.address %></td>
        <td><%= shifted.firm %></td>
        <td><%= shifted.cost %></td>
        <td><%= shifted.description %></td>
        <td><%= link_to 'Show', shifted %></td>
        <td><%= link_to 'Edit', edit_shifted_path(shifted) %></td>
        <td><%= link_to 'Destroy', shifted, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<h3>Import Shifteds</h3>
<%= form_tag import_shifteds_path,multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Shifteds" %>
<% end %>

<br>

<%= link_to 'New Shifted', new_shifted_path %>

<% end %>
