<%= form_for([@doctor, @patient]) do |form| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="jumbotron">
    <div class="form-group">
        <div class="field">
        <%= form.label :firstname %>
        <%= form.text_field :firstname ,class:'form-control', required: true %>
      </div>

      <div class="field">
      <%= form.label :lastname %>
      <%= form.text_field :lastname , class:'form-control',required: true%>
      </div>

      <div class="field">
        <%= form.label :dob %>
        <%= form.date_select :dob, start_year: 1900, end_year: Time.now.year ,class:'form-control', required: true %>
      </div>

      <div class="field">
        <%= form.label :gender %>
        <%= form.select:gender, ["Male", "Female","Bisexual"], class:'form-control',required: true %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email,class:'form-control', required: true %>
      </div>

      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone,class:'form-control', required: true %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_area :address, :cols=>23, :rows=>5 ,class:'form-control', required: true%>
      </div>

      <div class="field">
        <%= form.label :condition %>
        <%= form.text_area :condition, :cols=>23, :rows=>5 ,class:'form-control', required: true%>
      </div>

      <div class="field">
        <%= form.label :level %>
        <%= form.select:level, ["1", "2","3"], required:true,class:'form-control' %>
      </div>
    </div>
    <div class="btn btn-default">
      <%= form.submit %>
    </div>
  </div>
<% end %>
