<% if current_user.admin? %>

<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="jumbotron">
      <div class="form-group">
          <div class="field">
            <%= form.label :firstname %>
            <%= form.text_field :firstname, id: :doctor_firstname,class:'form-control', required: true %>
          </div>

          <div class="field">
            <%= form.label :lastname  %>
            <%= form.text_field :lastname, id: :doctor_lastname,class:'form-control', required: true %>
          </div>

          <div class="field">
            <%= form.label :email  %>
            <%= form.text_field :email, id: :doctor_user_email,type: :email,class:'form-control', required: true %>
          </div>

          <div class="field">
            <%= form.label :phone %>
            <%= form.text_field :phone, id: :doctor_phone,class:'form-control', required: true %>
          </div>

          <div class="field">
            <%= form.label :address  %>
            <%= form.text_area :address, id: :doctor_address,class:'form-control', required: true %>
          </div>

          <div class="field">
            <%= form.label :specialist  %>
            <%= form.text_field :specialist, id: :doctor_specialist,class:'form-control', required: true %>
          </div>

          <div class="field" >
            <%= form.label :user_id  %>
            <%= form.text_field :user_id, id: :doctor_user_id,class:'form-control', required: true %>
          </div>

          </div>
          <div class="btn btn-default">
            <%= form.submit  %>
          </div>
      </div>
<% end %>
<% end %>
