<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :firstname,class:"col-md-4 control-label" %>
    <%= form.text_field :firstname, id: :doctor_firstname, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :lastname,class:"col-md-4 control-label"  %>
    <%= form.text_field :lastname, id: :doctor_lastname, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :email,class:"col-md-4 control-label"  %>
    <%= form.text_field :email, id: :doctor_user_email, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :phone,class:"col-md-4 control-label"  %>
    <%= form.text_field :phone, id: :doctor_phone, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :address,class:"col-md-4 control-label"  %>
    <%= form.text_area :address, id: :doctor_address, :cols=>23, :rows=>5, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :specialist,class:"col-md-4 control-label"  %>
    <%= form.text_field :specialist, id: :doctor_specialist, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :user_id,class:"col-md-4 control-label"  %>
    <%= form.text_field :user_id, id: :doctor_user_id, required: true %>
  </div>

  <div class="btn btn-default">
    <%= form.submit  %>
  </div>
<% end %>
