<% if current_user.admin? %>
<p id="notice"><%= notice %></p>



<div class="form-inline mt-2 mt-md-0">
<%= form_tag search_doctors_path, method: :get do %>
<%= text_field_tag :search, nil, placeholder: "Search",class: "form-control mr-sm-2"%>
<%= submit_tag "Search", class: "btn btn-light my-2 my-sm-0"%>
<% end %>
</div>

<table class="table">
  <tr>
    <td> User Name: </td>
    <td><%= @user_name %></td>
  </tr>
  <tr>
    <td>User Email: </td>
    <td><%= @user_email %></td>
  </tr>
</table>

<h1>List of Doctors</h1>

<table  class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Specialist</th>
      <th scope="col">User_id</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <th scope="row"><%= doctor.id %> </th>
        <td><%= doctor.firstname %></td>
        <td><%= doctor.lastname %></td>
        <td><%= doctor.email %></td>
        <td><%= doctor.phone %></td>
        <td><%= doctor.address %></td>
        <td><%= doctor.specialist %></td>
        <td><%= doctor.user_id %></td>
        <td><%= link_to 'Show', doctor %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<% if user_signed_in? %>
<button type ="button" class="btn btn-danger"><%= link_to ' Adding New Doctor', new_doctor_path %></button>
<% end %>
 <% end %>
