
  <ul class="nav">

    <li class="nav-item"><%= link_to 'Doctors', doctors_path %></li>
      <%= render 'layouts/navigation_links' %>

    <li class="nav-item"><%= link_to 'Add New Doctors', new_doctor_path %></li>
      <%= render 'layouts/navigation_links' %>


      <li><%= link_to 'Third party transfers', new_shifted_path %></li>
    <%= render 'layouts/navigation_links' %>
  </ul>
